body
{
padding:"0px";
margin:0px;
}
.box1
{
	position:relative;
	width:100%;
	height:610px;
	background:pink;
	background:url(image/bg4.jpg);
	background-size:cover;
	
}

.num1
{
	position:absolute;
	width:460px;
	height:45px;
	
	left:200px;
	top:20px;
}
.txt1
{
	color:#aaaaaa;
	
	font-family:arial;
	font-size:13px;
}
.txt2
{
	color:white;
	
}
.txt3
{
	color:#aaaaaa;
	
		font-family:arial;
	font-size:13px;
}
.txt4
{
	color:white;
	
}
.or1
{
	color:#dcedf8;
	
		font-family:arial;
	font-size:13px;
}
.num2
{
	position:absolute;
	width:460px;
	height:45px;
	
	right:230px;
	top:20px;
}
.txt5
{
	color:#aaaaaa;
	
	font-family:arial;
	font-size:13px;
}
.fac
{
	color:white;
	margin-left:10px;
}
.twi
{
	color:white;
	margin-left:20px;
}
.inst
{
	color:white;
	margin-left:25px;
}
.dri
{
	color:white;
	margin-left:25px;
}
.nav1
{
	position:absolute;
	width:70%;
	height:80px;
	background:#0a0a0a8c;
	left:12%;
	top:10%;
	
}
.txt6
{
	color:#e52b34;
	font-size:25px;
	font-family:arial black;
left:10px;
	position:absolute;
	top:13px;
}
.txt6:hover
{
	color:white;
}
.txt7
{
	color:white;
}
.nav2
{
	position:absolute;
	width:80%;
	height:80px;

	right:0px;
	top:13px;
}
.ul1
{
	list-style-type:none;
	overflow:hidden;
}
.a1
{
	text-decoration:none;
	color:white;
		color:#e52b34;
	font-family:roboto,arial;
	font-size:13px;
	margin-left:50px;

	
}
.a2
{
	text-decoration:none;
	color:white;
	font-family:roboto,arial;
	font-size:13px;
	margin-left:50px;
}

.a2:hover
{
	color:#e52b34;
}
.text1
{
	color:white;
	position:absolute;
	font-size:44px;
	font-family:arial;
	font-weight:400px;
	margin-top:160px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.text2
{
	color:white;
	position:absolute;
	font-size:15px;
	font-family:arial black;
	margin-left:-40px;
	margin-top:200px;
	font-weight:600px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
a
{
	text-decoration:none;
	color:white;
}
.text2 a:hover
{
	color:#e52b34;
}
.text3
{
	color:white;
	position:absolute;
	font-size:15px;
	font-family:arial black;
	font-weight:600px;
	margin-top:200px;
	margin-left:40px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
@media only screen and (max-width:1200px)
	{
		.box1
		{
			width:100%;
		}
		.nav1
		{
		display:none;
		}
		.num1
		{
			display:none;
		}
		.num2
		{
			display:none;
		}
	}
		.perfectmain
	{
		position:relative;
		width:100%;
		height:400px;
		background:white;
		
	}
	.perimg1
	{
		position:absolute;
		width:40%;
		height:400px;
		background:white;
		left:15%;
	}
	.perdiv1
	{
		position:absolute;
		width:47%;
		height:400px;
		background:orange;
		background:url("image/smile.jpg");
		background-size:cover;
		background-position:center;
	}
	.perdiv2
	{
		position:absolute;
		width:47%;
		height:400px;
		background:yellow;
		background:url("image/hotel.jfif");
		background-size:cover;
			background-position:center;
		right:0px;
	}
	.perfectinfo1
	{
		position:absolute;
		width:35%;
		height:300px;
		background:white;
		left:55%;
	}
	.pinfo2
	{
		position:absolute;
		width:90%;
		height:300px;
		background:white;
	left:9%;
		top:5%;
	}
	.hinfo1
	{
		position:absolute;
		font-size:40px;
		color:#eb5860;
	font-family:Dancing script;
	}
	.hinfo2
	{
		position:absolute;
		font-size:40px;
		color:#434343;
		font-family:arial black;
	font-weight:200;
		top:30px;
	}
	.infop1
	{
		position:absolute;
		font-size:15px;
		font-family:arial;
		top:155px;
		color:#808080;
		line-height:2;
	}
	.buttonp1
	{
		position:absolute;
		top:340px;
		background:#e52c35;
		color:white;
		border:none;
		padding:10px 16px
	}
	.buttonp1:hover
	{
		color:#e52c35;
		border:1px solid #e52c35;
		background:white;
	}
	@media only screen and (max-width:980px)
	{
		.perfectmain
		{
			width:100%;
			
			height:900px;
		}
		.perimg1
		{
			height:700px;
		}
		.perfectinfo1
		{
			height:700px;
			width:40%;
		}
		.pinfo2
		{
			width:90%;
			height:600px;
			top:30px;
			right:0px;
		}
		.hinfo1
		{
			top:0px;
		}
		.hinfo2
		{
			top:46px;
		}
		.infop1
		{
			top:220px;
		}
		.buttonp1
		{
			top:450px;
		}
		
	}
	@media only screen and (max-width:750px)
	{
		.perfectinfo1
		{
			width:80%;
			left:10%;
			top:400px;
			height:500px;
		}
		.pinfo2
		{
			width:100%;
			left:0px;
			height:400px;
		}
		.perfectmain
		{
			width:100%;
			
			height:1100px;
		}
		.perimg1
		{
			width:80%;
			left:10%;
			height:500px;
		
		}
		.perdiv1
		{
			width:50%;
		}
		.perdiv2
		{
			width:50%;
		}
.hinfo2
		{
			top:30px;
		}
		.infop1
		{
			top:155px;
		}
		.buttonp1
		{
			top:320px;
		}		
	}
.lamp1
{
	position:relative;
	top:401px;
	width:100%;
	height:380px;
	background:blue;
	background:url("image/lamp.jpg");
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}
.lamptext1
{
	position:absolute;
	width:70%;
	height:120px;
	
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	
}
.mainty1
{
	position:absolute;
	width:22%;
	height:100px;
	
	left:5%;
}
.thank1
{
	font-size:40px;
	font-family:arial;

	color:white;
}
.thank2
{
	font-size:19px;
	font-family:arial;
	color:gray;
	
}
.mainty2
{
	position:absolute;
	width:22%;
	height:100px;
	
	left:28%;
}
.mainty3
{
	position:absolute;
	width:22%;
	height:100px;
	
	left:51%;
}
.mainty4
{
	position:absolute;
	width:22%;
	height:100px;
	
	left:74%;
	right:4%;
}
@media only screen and (max-width:740px)
{
	.lamp1
	{
		width:100%;
		height:600px;
	}
	.lamptext1
	{
		width:70%;
		height:520px;
	}
	.mainty1
	{
		left:30%;
		width:40%;
		height:110px;
	}
	.mainty2
	{
		left:30%;
		width:40%;
		top:120px;
		height:110px;
	}
	.mainty3
	{
		left:30%;
		width:40%;
		top:250px;
		height:110px;
	}
	.mainty4
	{
		left:30%;
		width:40%;
		top:390px;
		height:110px;
	}
}
.bookmain
	{
		position:relative;
		width:100%;
		height:200px;
		background:#e5262f;
		top:400px;
	}
	.bookmain1
	{
		position:absolute;
		width:60%;
		height:200px;
		left:20%;
		background:#e5262f;
	}
	
	.booktit1
	{
		font-size:30px;
		font-family:arial black;
		color:white;
	text-align:center;
	margin-top:42px;
	line-height:1.5;
	}
	.bookbutton
	{
		border:1px solid white;
		color:white;
		padding:12px 16px;
		top:-10px;
		background:#e5262f;
		font-size:15px;
	}
	.bookbutton:hover
	{
		border:none;
		background:white;
		color:#e52b34;
	}
	@media only screen and (max-width:765px)
	{
		.bookmain
		{
			width:100%;
			top:400px;
		}
		.bookmain1
		{
			top:10%;
			width:100%;
			left:0px;
		}
	}
	@media only screen and (max-width:600px)
	{
		.bookmain
		{
			height:300px;
			width:100%;
		}
		.bookmain1
		{
			width:100%;
			height:270px;
			left:0px;
		}
	}
	.happy1
	{
		position:relative;
		top:400px;
		width:100%;
		height:550px;
		background:pink;
		background:url("image/bg4.jpg");
		background-size:cover;
		background-attachment:fixed;
		
	}
	.bghappy
	{
		position:absolute;
		height:550px;
		width:100%;
		background:#00000082;
	}
	.ht1
	{
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		font-size:40px;
		font-family: Dancing Script;
		margin-top:-120px;
		color:#e52b34;
		position:absolute;
	}
	.ht2
	{
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		font-size:4vw;
		font-family: arial black;
	margin-top:-75px;
		color:white;
		position:absolute;
	}
	
	.mainhappy2
	{
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		width:700px;
		height:220px;
		background:#80808000;
		margin-top:130px;
	}
	.ht3
	{
		font-family:arial;

		font-size:1.5vw;
		color:white;
		
	}
	.circleh1
	{
		width:100px;
		height:100px;
		background:pink;
		background:url("image/wo1.jpg");
		background-size:cover;
		background-position:center;
		border-radius:50%;
	}
	.nameh1
	{
		color:white;
		font-size:16px;
		font-family:arial;
		font-weight:5px;
	}
	.lastmain
	{
		position:relative;
		width:100%;
		height:500px;
		background:black;
		top:400px;
	}
	.lastmain1
	{
		position:absolute;
		width:78%;
		height:370px;
		
		left:10%;
		top:14%;
	}
	.lastcontain1
	{
		position:absolute;
		width:24%;
		height:370px;
		
	}
	.naam1
	{
		font-size:20px;
		font-family:arial;
		color:white;
		margin-top:20px;
	}
	.pnaam1
	{
		margin-top:50px;
		color:#9e9e9e;
		font-size:15px;
		font-family:arial;
		line-height:2;
	}
	.lastc1
	{
		position:absolute;
		width:40px;
		height:40px;
		background:#e5262f;
		border-radius:50%;
		left:5px;
		bottom:75px;
	}
	.lt1
	{
		color:white;
		margin-top:13px;

	}
	.lastc2
	{
		position:absolute;
		width:40px;
		height:40px;
		background:#e5262f;
		border-radius:50%;
		left:60px;
		bottom:75px;
	}
	.lt2
	{
		color:white;
		margin-top:13px;
margin-left:13px;
	}
	.lastc3
	{
		position:absolute;
		width:40px;
		height:40px;
		background:#e5262f;
		border-radius:50%;
		left:110px;
		bottom:75px;
	}
	.lt3
	{
		color:white;
		margin-top:13px;
margin-left:13px;
	} 
	.lastcontain2
	{
		position:absolute;
		width:24%;
		height:370px;
		
		left:25%;
	}
	.college1
	{
		position:absolute;
		width:100%;
		height:300px;
		background:blue;
		top:40px;
	}
	
	.naam2
	{
		font-size:20px;
		font-family:arial;
		color:white;
		margin-top:20px;
	}
	.w1
	{
		font-size:18px;
		font-family:arial;
		color:white;
		left:0px;
		position:absolute;
	}
	.wd1
	{
		font-size:17px;
		font-family:arial;
		color:gray;
		position:absolute;
		right:40px;
	}
	.w2
	{
		font-size:18px;
		font-family:arial;
		color:white;
		left:0px;
		position:absolute;
	}
	.wd2
	{
		font-size:17px;
		font-family:arial;
		color:gray;
		position:absolute;
		right:40px;
	}
	.w3
	{
		font-size:18px;
		font-family:arial;
		color:white;
		left:0px;
		position:absolute;
	}
	.wd3
	{
		font-size:17px;
		font-family:arial;
		color:gray;
		position:absolute;
		right:40px;
	}
	.w4
	{
		font-size:18px;
		font-family:arial;
		color:white;
		left:0px;
		position:absolute;
	}
	.wd4
	{
		font-size:17px;
		font-family:arial;
		color:gray;
		position:absolute;
		right:40px;
	}
	.w5
	{
		font-size:18px;
		font-family:arial;
		color:white;
		left:0px;
		position:absolute;
	}
	.wd5
	{
		font-size:17px;
		font-family:arial;
		color:gray;
		position:absolute;
		right:40px;
	}
	.w6
	{
		font-size:18px;
		font-family:arial;
		color:white;
		left:0px;
		position:absolute;
	}
	.wd6
	{
		font-size:17px;
		font-family:arial;
		color:gray;
		position:absolute;
		right:40px;
	}
	.w7
	{
		font-size:18px;
		font-family:arial;
		color:white;
		left:0px;
		position:absolute;
	}
	.wd7
	{
		font-size:17px;
		font-family:arial;
		color:gray;
		position:absolute;
		right:70px;
	}
	.lastcontain3
	{
		position:absolute;
		width:25%;
		height:370px;
	
		left:50%;
	}
	.naam3
	{
		font-size:20px;
		font-family:arial;
		color:white;
		margin-top:20px;
	}
	.collage1
	{
		position:absolute;
		width:100%;
		height:250px;
	
		top:60px;
	}
	.divc1
	{
		position:absolute;
		width:33%;
		height:100px;
		background:green;
		background:url("image/1st.jpg");
		background-size:cover;
		background-position:center;
	}
	.divc2
	{
		position:absolute;
		width:33%;
		height:100px;
		background:pink;
		left:33%;
		background:url("image/2nd.jpg");
		background-size:cover;
		background-position:center;
	}
	.divc3
	{
		position:absolute;
		width:33%;
		height:100px;
		background:green;
		left:66%;
		background:url("image/seat.jpg");
		background-size:cover;
		background-position:center;
	}
	.divc4
	{
		position:absolute;
		width:33%;
		height:100px;
		top:100px;
		background:green;
		background:url("image/4th.jpg");
		background-size:cover;
		background-position:center;
	}
	.divc5
	{
		position:absolute;
		width:33%;
		height:100px;
		background:pink;
		top:100px;
		left:33%;
		background:url("image/5th.jpg");
		background-size:cover;
		background-position:center;
	}
	.divc6
	{
		position:absolute;
		width:33%;
		height:100px;
		background:green;
		top:100px;
		left:66%;
		background:url("image/6th.jpg");
		background-size:cover;
		background-position:center;
	}
	
	.lastcontain4
	{
		position:absolute;
		width:24%;
		height:370px;
	
		left:76%;
	}
	.naam4
	{
		font-size:20px;
		font-family:arial;
		color:white;
		margin-top:20px;
	}
	.lastpage1
	{
		font-size:15px;
		font-family:gray;
		color:gray;
	}
	.lp1
	{
		position:absolute;
		top:120px;
		padding:20px 43px;
		border:none;
		background:#313131;
		color:gray;
		font-size:13px;
	}
.lp2
{
	background:#e52b34;
	position:absolute;
	top:210px;
	padding:20px 90px;
	color:white;
	border:none;
	font-size:13px;
}
@media only screen and (max-width:1200px)
{
	.lastmain
	{
		width:100%;
		height:670px;
	}
	.lastmain1
	{
		width:90%;
		left:5%;
		height:550px;
	}
	.lp1
	{
		padding:20px 10px;
	}
	.lp2
	{
		padding:20px 58px;
	}
}
	@media only screen and (max-width:990px)
	{
		.lastmain
		{
			width:100%;
			height:1300px;
		}
		.lastmain1
		{
			width:80%;
			height:1000px;
			left:10%;
		}
		.lastcontain1
		{
			width:50%;
			height:400px;
			left:0px;
		}
		.lastcontain2
		{
			width:50%;
			left:50%;
			height:400px;
		}
		
		.lastcontain3
		{
			left:0px;
			width:50%;
			height:400px;
			top:420px;
		}
		.lastcontain4
		{
			left:50%;
			top:420px;
			width:50%;
			height:400px;
		}
		.lp1
	{
		padding:20px 40px;
	}
	.lp2
	{
		padding:20px 88px;
	}
	}
@media only screen and (max-width:760px)
{
	.lastmain
	{
		width:100%;
		height:1800px;
		top:300px;
	}
	.lastmain1
	{
		width:70%;
		height:1500px;
		left:15%;
		top:60px;
	}
	.lastcontain1
	{
		width:100%;
		left:0px;
		height:340px;
	}
	.lastcontain2
	{
		width:100%;
		left:0px;
		top:350px;
		height:340px;
	}
	.lastcontain3
	{
		width:100%;
		left:0px;
		top:690px;
		height:340px;
	}
	.lastcontain4
	{
		width:100%;
		left:0px;
		height:340px;
		top:1000px;
	}
	.lp1
	{
		width:100%;
		text-align:center;
	}
	.lp2
	{
		width:100%;
	}
}
	